<nav>
    <div class="site-title">
        <a href="/"><h1>Fiery Blogs</h1></a>
        <p>A Blog Site</p>
    </div>
    <ul>
        <li><a href="/" style="color: darkblue;"><b>Blogs</b></a></li>
        <li><a href="/about" style="color: darkblue;"><b>About</b></a></li>
        <li><a href="/blogs/create" style="color: darkblue;"><b>New Blog</b></a></li>
    </ul>
</nav>