<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Fascinating</p>
        <p>Passionate</p>
        <p>Holds like a comodo dragon</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>